<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="website.server.Domain.HealingProgram.HealingService.DewCalendar.Mapper.DewMapper">

    <!-- 일기 결과 저장 -->
    <insert id="saveDiary" useGeneratedKeys="true" keyProperty="diaryNumber">
        INSERT INTO diary (date,userNumber,title,diary,emotion,weather,healingMessage,healingMusic)
        VALUES (NOW(), #{userNumber}, #{title}, #{diary},
                #{emotion}, #{weather}, #{healingMessage}, #{healingMusic})
    </insert>

    <!-- 일기 삭제 -->
    <delete id="deleteDiary">
        DELETE FROM diary
        WHERE userNumber = #{userNumber} AND date = #{date}
    </delete>

</mapper>