<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="website.server.Domain.HealingProgram.HealingService.HealingMusicSharing.Mapper.HealingMusicSharingMapper">

    <!-- 힐링 뮤직 쉐어링 -->
    <insert id="HealingMusicSharing" parameterType="map">
        INSERT INTO healing_music (userNumber, title, content, imagePath, videoLink, createdDate, likes)
        VALUES (
        #{userNumber},
        #{title},
        #{content},
        #{imagePath},
        #{videoLink},
        CURRENT_TIMESTAMP,  <!-- 현재 시간으로 생성 날짜 설정 -->
        0  <!-- 기본값 0으로 좋아요 수 설정 -->
        )
    </insert>

    <!-- 게시판에서 힐링 뮤직 리스트 조회 -->
    <select id="getHealingMusicList" resultType="website.server.Domain.HealingProgram.HealingService.HealingMusicSharing.DTO.Response.HealingMusicListResponse">

        SELECT
            hm.musicId,
            hm.imagePath,
            hm.title,
            m.nickname,
            hm.createdDate
        FROM
            healing_music hm
        JOIN
            member m
        ON hm.userNumber = m.userNumber
    </select>

    <!-- 게시판에서 힐링 뮤직 상세 조회 -->
    <!-- 이거 hml을 그냥 join 할때랑 Left 조인할때 결과가 다르게 나옴 !!! 블로그 정리할 것 -->
    <select id="getHealingMusic" resultType="website.server.Domain.HealingProgram.HealingService.HealingMusicSharing.DTO.Response.HealingMusicResponse">

    SELECT
        hm.musicId,
        hm.title,
        m.nickname,
        hm.createdDate,
        hm.content,
        hm.videoLink,
        COUNT(hml.likeId),
        m.profile_image_path,
        hm.imagePath
    FROM
        healing_music hm
    JOIN
        member m
    ON
        hm.userNumber = m.userNumber
    LEFT JOIN
        healing_music_like hml
    ON
        hm.musicId = hml.musicId
    </select>

    <!-- 이전에 해당 게시글에 좋아요를 눌렀는지 확인 -->
    <select id="checkAlreadyCliked" resultType="boolean">

        SELECT
            IF(COUNT(*) > 0, TRUE, FALSE)
        FROM
            healing_music_like
        WHERE
            musicId = #{musicId} AND userNumber = #{userNumber}

    </select>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike">
        DELETE

        FROM
            healing_music_like
        WHERE
            musicId = #{musicId} AND userNumber = #{userNumber}
    </delete>

    <!-- 좋아요 승인 -->
    <insert id="permitLike">
        INSERT INTO healing_music_like (musicId,userNumber)
        VALUES (#{musicId}, #{userNumber})
    </insert>

    <!-- DB에서 좋아요 총량 조회 -->
    <select id="getLikeCount" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            healing_music_like
        WHERE
            musicId = #{musicId}
    </select>

    <!-- 댓글 달기 -->
    <insert id="postComment" parameterType="map">
        INSERT INTO healing_music_comment (musicId, userNumber, content, createdDate)
        VALUES (
                #{musicId},
                #{userNumber},
                #{content},
                CURRENT_TIMESTAMP
               )
    </insert>

    <!-- 힐링 뮤직 댓글 조회 -->
    <select id="getComment" resultType="website.server.Domain.HealingProgram.HealingService.HealingMusicSharing.DTO.Response.HealingMusicCommentResponse">

        SELECT
            hmc.commentId,
            m.profile_image_path,
            m.nickname,
            hmc.createdDate,
            hmc.content
        FROM
            healing_music hm
        LEFT JOIN
            member m
        ON
            hm.userNumber = m.userNumber
        LEFT JOIN
            healing_music_comment hmc
        ON
            hmc.musicId = hm.musicId
        WHERE
            hm.musicId =#{musicId}
    </select>

    <!-- 힐링 뮤직 댓글 삭제 -->
    <delete id="deleteComment">
        DELETE FROM healing_music_comment
        WHERE userNumber =#{userNumber} AND commentId = #{commentId}
    </delete>

    <!-- 내가 올린 힐링 뮤직 리스트 조회 -->
    <select id="getMyHealingMusicList" resultType="website.server.Domain.HealingProgram.HealingService.HealingMusicSharing.DTO.Response.HealingMusicListResponse">
        SELECT
            hm.musicId,
            hm.imagePath,
            hm.title,
            m.nickname,
            hm.createdDate
        FROM
            healing_music hm
        JOIN
            member m
        ON
            hm.userNumber = m.userNumber
        WHERE
            hm.userNumber = #{userNumber}
    </select>

    <!-- 내가 올린 힐링 뮤직 상세 조회 -->
    <select id="getMyHealingMusic" resultType="website.server.Domain.HealingProgram.HealingService.HealingMusicSharing.DTO.Response.HealingMusicResponse">

        SELECT
            hm.musicId,
            hm.title,
            m.nickname,
            hm.createdDate,
            hm.content,
            hm.videoLink,
            COUNT(hml.likeId),
            m.profile_image_path,
            hm.imagePath
        FROM
            healing_music hm
        JOIN
            member m
        ON
            hm.userNumber = m.userNumber
        LEFT JOIN
            healing_music_like hml
        ON
            hm.musicId = hml.musicId
        WHERE
            hm.userNumber = #{userNumber} AND hm.musicId = #{musicId}
    </select>

    <!-- 내가 좋아요 누른 힐링 뮤직 리스트 조회 -->
    <select id="getLikeHealingMusicList" resultType="website.server.Domain.HealingProgram.HealingService.HealingMusicSharing.DTO.Response.HealingMusicListResponse">

        SELECT
            hm.musicId,
            hm.imagePath,
            hm.title,
            m.nickname,
            hm.createdDate
        FROM
            healing_music hm
        JOIN
            member m
        ON
            hm.userNumber = m.userNumber
        WHERE
            hm.userNumber = #{userNumber}
    </select>

</mapper>