<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="website.server.Domain.HealingProgram.HealingService.HealingMessageSharing.Mapper.HealingMessageMapper">

    <!-- 힐링 메시지 생성 -->
    <insert id="create" parameterType="map">
        INSERT INTO healing_message (
            userNumber,
            title,
            imagePath,
            content,
            createdDate,
            likes
        )
        VALUES (
                   #{userNumber},
                   #{title},
                   #{imagePath},
                   #{content},
                   NOW(),
                   0
               )
    </insert>


</mapper>