<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="website.server.Domain.HealingProgram.HealingService.HealingMessageSharing.Mapper.HealingMessageMapper">

    <!-- 힐링 메시지 생성 -->
    <insert id="create" parameterType="map">
        INSERT INTO healing_message (
            userNumber,
            title,
            imagePath,
            content,
            createdDate,
            likes
        )
        VALUES (
                   #{userNumber},
                   #{title},
                   #{imagePath},
                   #{content},
                   NOW(),
                   0
               )
    </insert>

    <!-- 선택한 힐링 메시지 삭제 -->
    <delete id="delete">
        DELETE FROM healing_message
        WHERE messageId = #{messageId}
    </delete>

    <!-- 힐링 메시지 게시판에서 힐링 메시지 리스트 조회 -->
    <select id="getHealingMessageThumbNail" resultType="website.server.Domain.HealingProgram.HealingService.HealingMessageSharing.DTO.Response.HealingMessageThumbNailResponse">
        SELECT
            hm.messageId AS messageId,
            hm.title AS title,
            m.nickname AS nickname,
            hm.createdDate AS createdDate
        FROM
            healing_message hm
        JOIN
            member m
        ON
            hm.userNumber = m.userNumber
    </select>


    <!-- 힐링 메시지 게시판에서 힐링 메시지 상세 조회 -->
    <select id="getHealingMessage" resultType="website.server.Domain.HealingProgram.HealingService.HealingMessageSharing.DTO.Response.HealingMessageResponse">

        SELECT
            hm.title,
            m.profile_image_path,
            m.nickname,
            hm.createdDate,
            hm.imagePath,
            hm.content
            # hml.like
            # hmc.content

        FROM
            # healing_message_like hml,
            # healing_message_comment hmc,
            healing_message hm
        JOIN

            member m
        ON
            hm.userNumber = m.userNumber
        WHERE
            messageId=#{messageId}

    </select>

    <select id="getMyHealingMessageThumbNail" resultType="website.server.Domain.HealingProgram.HealingService.HealingMessageSharing.DTO.Response.HealingMessageThumbNailResponse">

        SELECT
            hm.messageId,
            hm.title,
            m.nickname,
            hm.createdDate
        FROM
            healing_message hm
        JOIN
            member m
        ON
                hm.userNumber = m.userNumber
        WHERE
            m.userNumber = #{userNumber}

    </select>

    <select id="getMyHealingMessage" resultType="website.server.Domain.HealingProgram.HealingService.HealingMessageSharing.DTO.Response.HealingMessageResponse">

        SELECT
            hm.title,
            m.profile_image_path,
            m.nickname,
            hm.createdDate,
            hm.imagePath,
            hm.content
            # hml.like
            # hmc.content
        FROM
            # healing_message_like hml,
            # healing_message_comment hmc,
            healing_message hm
        JOIN

            member m
        ON
            hm.userNumber = m.userNumber
        WHERE
             hm.userNumber=#{userNumber} AND messageId=#{messageId}

    </select>

    <!-- 동일한 messageId와 userNumber 데이터 확인 -->
    <select id="checkAlreadyCliked" resultType="boolean">

        SELECT
            IF(COUNT(*) > 0, TRUE, FALSE)
        FROM
            healing_message_like
        WHERE
            messageId = #{messageId} AND userNumber = #{userNumber}

    </select>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike">
        DELETE

        FROM
            healing_message_like
        WHERE
            messageId = #{messageId} AND userNumber = #{userNumber}
    </delete>

    <!-- 좋아요 승인 -->
    <insert id="permitLike">
        INSERT INTO healing_message_like (messageId,userNumber)
        VALUES (#{messageId}, #{userNumber})
    </insert>

    <!-- DB에서 좋아요 총량 조회 -->
    <select id="getLikeCount" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            healing_message_like
        WHERE
            messageId = #{messageId}
    </select>

</mapper>