<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="website.server.Domain.Member.Mapper.MemberMapper">
    <insert id="register" useGeneratedKeys="true" keyProperty="userID">
        INSERT INTO member (role, register_date, username, email, password, birth)
        VALUES ('USER', NOW(), #{username}, #{email}, #{password}, #{birth})
    </insert>
</mapper>
