<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="website.server.Domain.Healing_Space_News.Our_News.Mapper.OurNewsMapper">

    <!-- 게시글 업로드 -->
    <insert id="postNews" parameterType="map">
        INSERT INTO our_news (userNumber, title, content, img_path, createdDate, watched)
        VALUES (#{userNumber}, #{title}, #{content}, #{img_path}, CURRENT_TIMESTAMP, 0)
    </insert>

    <!-- 게시글 삭제 -->
    <delete id="deleteNews" parameterType="long">
        DELETE FROM our_news
        WHERE ourNewsNumber = #{ourNewsNumber}
    </delete>

    <!-- 게시글 썸네일 리스트 조회 -->
    <select id="getNewsList" resultType="website.server.Domain.Healing_Space_News.Our_News.DTO.Response.NewsListResponse">
        SELECT
            ournews.title,
            m.nickname,
            ournews.createdDate
        FROM
            our_news ournews
        JOIN
            member m
        ON
            ournews.userNumber = m.userNumber


    </select>
    <!-- 게시글 조회 -->
    <select id="getNews" resultType="website.server.Domain.Healing_Space_News.Our_News.DTO.Response.GetNewsResponse">
        SELECT
            ournews.title,
            m.nickname,
            m.profile_image_path,
            ournews.createdDate,
            ournews.img_path,
            ournews.content
        FROM
           our_news ournews
        JOIN
            member m
        ON
            ournews.userNumber = m.userNumber
        WHERE
            ournews.ourNewsNumber =#{ourNewsNumber}
    </select>

    <!-- 댓글 달기 -->
    <insert id="postComment" parameterType="map">

        INSERT INTO our_news_comment (ourNewsNumber, userNumber, content, createdDate)
        VALUES (#{ourNewsNumber}, #{userNumber}, #{content}, NOW())

    </insert>

    <!-- 댓글 조회 -->
    <select id="getComment" resultType="website.server.Domain.Healing_Space_News.Our_News.DTO.Response.OurNewsCommentResponse">

        SELECT
            onc.commentId,
            m.profile_image_path,
            m.nickname,
            onc.content,
            onc.createdDate
        FROM
            our_news_comment onc
        JOIN
            member m
        ON
            onc.userNumber =m.userNumber
        WHERE
            onc.ourNewsNumber=#{ourNewsNumber}

    </select>

</mapper>
